* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

nav {
	position: sticky;
	top: 0px;
	background-color: white;
	display: block;
	overflow: hidden;
	padding: 14px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav ul {
	padding-inline-end: 10px;
	background-color: white;
}

nav .nav-logo {
	top: 0px;
	list-style-type: none;
	display: inline;
	margin-left: 12rem;
}

nav .right-nav {
	display: inline;
	float: right;
	margin-right: 12rem;
}

nav .nav {
	list-style-type: none;
	display: inline;
	padding: 15px;
	font-weight: bold;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 50px;
	border-style: none;
	padding: 1rem;
	font-size: 20px;
	width: 11rem;
}

#bg-image {
	min-height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center;
}

.title {
	color: white;
	text-align: right;
	font-size: 3.5rem;
	font-family: Zilla Slab;
	margin-right: 14rem;
	margin-left: 60rem;
	letter-spacing: 2px;
}

.front-bg {
	min-height: 50vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.subtitle {
	color: white;
	text-align: right;
	font-size: 1.5rem;
	margin-right: 14rem;
	margin-left: 72rem;
	margin-top: 1.5rem;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 50px;
	border-style: none;
	padding: 1rem;
	font-size: 20px;
	width: 15rem;
	margin-top: 2rem;
	margin-right: 14rem;
	margin-left: 91rem;
}

.title-2 {
	padding: 50px 50px;
	text-align: center;
	font-size: 3rem;
	font-family: Zilla Slab;
}

.intro-description {
	font-size: 18px;
	margin-left: 22rem;
	margin-right: 22rem;
	margin-bottom: 10rem;
}

.pre-footer {
	padding: 70px 70px;
	background-color: #f7fbfb;
	text-align: center;
	font-size: 3rem;
	font-family: Zilla Slab;
}

.prefooter-description {
	font-size: 18px;
	margin-left: 22rem;
	margin-right: 22rem;
}

.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	border-radius: 50px;
	border-style: none;
	padding: 1rem;
	font-size: 15px;
	width: 15rem;
}

footer {
	text-align: center;
	padding: 20px;
}